<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>电影推荐系统</title>
    {% include '../common/css.html' %}
</head>
<body>
{% include '../common/header.html' %}
<div id="all">
    <div id="content">
        <div class="container">
            <div class="row bar">
                <div class="col-md-12">

                    <div class="heading">
                        <h3 style="font-weight: normal;display: inline-block">全部电影
                        </h3>
                        <h3 style="float: right">
                            <form action="/search" method="post" class="form-inline">
                                {% csrf_token %}
                                <input type="text" name="keyword" placeholder="搜索电影">
                                <button type="submit" class="btn btn-success">提交</button>
                            </form>
                        </h3>
                    </div>

                    <div class="panel sidebar-menu">
                        <div class="panel-body">
                            <ul id="myTab" class="tag-cloud list-inline">
                                <li class="list-inline-item">
                                    <h5 style="font-weight: normal">电影类型：</h5>
                                </li>
                                <li class="list-inline-item">
                                    <a class="type_all" href="javascript:submitForm('')">全部类型</a>
                                </li>
                                {% for type in types %}
                                    <li class="list-inline-item">
                                        <a href="javascript:submitForm({{ type.id }})" data-info='{{ type.id }}'>
                                            {{ type.typename }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row products products-big">
                        {% if not pageBean %}
                            暂无数据
                        {% endif %}
                        {% for item in pageBean %}
                            <div class="col-lg-2 col-md-2">
                                <div class="product">
                                    <div class="image">
                                        <a href="/item/detail?itemid={{ item.id }}" title="{{ item.itemname }}">
                                            <img src="{{ item.image.url }}" alt=""
                                                 class="img-fluid image1">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h3 class="h5" style="max-height: 31px;overflow: hidden">
                                            <a href="/item/detail?itemid={{ item.id }}" title="{{ item.itemname }}">
                                                {{ item.itemname }}
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <form action="{{ request.path }}" method="post" id="form">
                        {% csrf_token %}
                        <input type="hidden" name="page" value="{{ page }}" id="page">
                        <input type="hidden" name="typeid" value="{{ typeid }}" id="typeid">
                    </form>
                    {% include '../common/page.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include '../common/footer.html' %}
{% include '../common/js.html' %}
<script type="text/javascript">
    var typeid = "{{ typeid }}";
    if (typeid != null && typeid != "") {
        $("#myTab").find("li").each(function () {
            if ($(this).find("a").attr("data-info") == typeid) {
                $(this).find("a").addClass("active");
                return false;
            }
        });
    } else {
        $(".type_all").addClass("active");
    }

    function submitForm(typeid) {
        $("#page").val(1);
        $("#typeid").val(typeid);
        $("#form").submit();
    }
</script>
</body>
</html>