<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>【个性化推荐】电影推荐系统</title>
	{% include '../common/css.html' %}
</head>
<body>
    {% include '../common/header.html' %}
    <div id="all">
        <div id="content">
            <div class="container">
                <div class="row bar">
                    <div class="col-md-12">
                        <div class="heading">
                            <h3 style="font-weight: normal">个性化推荐</h3>
                        </div>
                        <div class="row products products-big">
                            {% if not userCfItems %}
                                暂无数据
                            {% endif %}
                            {% for item in userCfItems %}
                                <div class="col-lg-2 col-md-2">
                                    <div class="product">
                                        <div class="image">
                                            <a href="/item/detail?itemid={{ item.id }}" title="{{ item.itemname }}">
                                                <img src="{{ item.image.url }}" alt=""
                                                            class="img-fluid image1">
                                            </a>
                                        </div>
                                        <div class="text">
                                            <h3 class="h5" style="max-height: 31px;overflow: hidden">
                                                <a href="/item/detail?itemid={{ item.id }}" title="{{ item.itemname }}">
                                                    {{ item.itemname }}
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include '../common/footer.html' %}
	{% include '../common/js.html' %}
</body>
</html>