<div class="pages" style="font-size: 15px">
    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item">
                <a href="javascript:void(0)" class="page-link">
                    共{{ pageBean.paginator.count }}条数据&nbsp;
                    第{{ pageBean.number }}/{{ pageBean.paginator.num_pages }}页&nbsp;
                </a>
            </li>
            <li class="page-item">
                <a href="javascript:toPage(1)" class="page-link">首页</a>
            </li>
            {% if pageBean.has_previous %}
                <li class="page-item">
                    <a href="javascript:toPage({{ pageBean.previous_page_number }})" class="page-link">上一页</a>
                </li>
            {% endif %}
            {% if pageBean.has_next %}
                <li class="page-item">
                    <a href="javascript:toPage({{ pageBean.next_page_number }})" class="page-link">下一页</a>
                </li>
            {% endif %}
            <li class="page-item">
                <a href="javascript:toPage({{ pageBean.paginator.num_pages }})" class="page-link">尾页</a>
            </li>
        </ul>
    </nav>
</div>
<script>
    function toPage(page){
        $("#page").val(page);
        $("#form").submit();
    }
</script>